.title1{
	font-size : 30px;
	color: transparent;
	background-color : black;
	text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
	-webkit-background-clip : text;
}

.table-1 thead, .table-1 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #4d70ab;
background: #4d70ab;
}

.table-1 {

width:1200px;
table-layout:fixed;
border-bottom-width: 1px;
border-bottom-color: #4d70ab;
}
/* Padding and font style */
.table-1 td, .table-1 th {

font-size: 18px;
font-family: Verdana;

}

/* Alternating background colors */
.table-1 tr:nth-child(even) {
background: rgba(94, 162, 222, 0.29)
}
.table-1 tr:nth-child(odd) {
background: white
}
th{
background: #4d70ab;
color:white;
padding: 5px 40px;

}
td{
	 word-wrap:break-word;
	 text-align:center;
	 padding: 3px 30px;
}
.close{
	
	height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius:50%;
	border:solid 1px #033076;
	background:white;
	padding:2px 2px;
	
}
.close:hover{
	background:#033076;
	color:white;
	
} 
