@CHARSET "UTF-8";
.title1{
	font-size : 30px;
	color: transparent;
	background-color : black;
	text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
	-webkit-background-clip : text;
}

.table-1 thead, .table-1 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #4d70ab;
}

.table-1 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #4d70ab;
}
/* Padding and font style */
.table-1 td, .table-1 th {
padding: 5px 40px;
font-size: 18px;
font-family: Verdana;
color: #4d70ab;
}

/* Alternating background colors */
.table-1 tr:nth-child(even) {
background: rgb(238, 211, 210)
}
.table-1 tr:nth-child(odd) {
background: #FFF
}