@CHARSET "UTF-8";


ul,li{
	list-style :none;
	padding:0px;
	margin:0px;	
}

*{padding:0px;margin:0px}
a{text-decoration : none; color : #428bca}
a:hover{color:black;}

.title{
	height:40px;
	background:#A9D0F5;
	font-family: Times;
	font-size:30px;
	color:white;
	
}
.white{
	height: 50px;
}
.nav{
	
	font-family: Times;
	font-size:20px;
	text-align:center;
	width:500px;
	margin:0 auto;
}
.test{
	width : 1041px;

}

.ligne{
	border-top: solid 2px #033076;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	float:left;
	width:40%;
	height:50px;
	
}

.icon-user{
position: absolute;
right: 43%;
z-index:5;
background-image: url(pictures/search.png); 
background-size: 35px 35px;
background-repeat: no-repeat; 
background-position: 0px 0px; 
width: 35px; 
height: 35px; 
}
.search{
	
	float:left;
	font-family: Times;
	font-size:20px;
	width:20%;
	height:50px;
	border-bottom: solid 2px #033076;
	border-top: transparent;
	border-right:transparent; 
	border-left:transparent; 
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
}
.nav> ul li{
	float : left; 
	width:150px;
	height:50px;
	display:block;
}
.act{border-bottom:solid 2px #a4b9dd;
	 color:#a4b9dd}
	  
.nav-con{
	clear:both;
	display : none
}